@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Centric Consulting can use this application to recognize fellow employees for embodying the core values to encourage employees to continue that path. These core values include: Commit to Delivery Excellence, Embrace Integrity and Openness, Practice Responsible Stewardship, Invest in an Exceptional Cultural, Ignite Passion for the Greater Good, Strive to Innovate, and Live a Balanced Life.</p>
